<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manufacturers</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='/css/shelf.css')}}">
</head>
<body>
    <main>
        <section class="produce-header">
            <h2>My<span class="fresh" >Products</span> <span class="date">Today</span></h2>
            <!-- <div class="filters">
                <button class="filter-button active">Default</button>
                <button class="filter-button">A-Z</button>
                <button class="filter-button">List view</button>
            </div>
        </section> -->
    </main>
        <section class="produce-list">
            {% for product in products %}
            <div class="produce-card">
                <img src="{{ url_for('shop.product_image', product_id=product._id) }}" alt="{{ product.name }}" width="100">
                <div class="card-info">
                    <h3>{{product.name}}</h3>
                    <p class="price">KES {{product.price}}<span></span></p>
                    <p class="location">{{product.description}}</p>
                    <form method="POST" action="{{ url_for('shop.delete_product', product_id=product._id) }}">
                        <button type="submit" class="filter-button active">Delete</button>
                        <a href="{{ url_for('shop.edit_product', product_id=product._id) }}" class="edit-button"><button type="submit" class="edit-button">Edit</button></a>
                    </form>
                </div>
            </div>
            {% endfor %}
        </section>
</body>
</html>