<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/shelf.css') }}">
</head>
<body>
    <header class="navbar">
        <h1 class="logo">Agri-In-Smart</h1>
        <form class="search-form" method="GET" action="{{ url_for('shop.search_products') }}">
            <input type="text" name="query" class="form-control me-2" placeholder="Search products..." aria-label="Search">
            <button type="submit" class="search-button" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 14px;">Search</button>
        </form>
        <a href="{{ url_for('shop.view_cart') }}" class="basket-button">Cart</a>
    </header>

    <main>
        <section class="produce-list">
            {% for product in products %}
            <div class="produce-card">
                <img src="{{ url_for('shop.product_image', product_id=product._id) }}" alt="{{ product.name }}" width="100">
                <div class="card-info">
                    <h3>{{ product.name }}</h3>
                    <p class="price">KES {{ product.price }}<span></span></p>
                    <p class="location">{{ product.description }}</p>
                    <form method="POST" action="{{ url_for('shop.add_to_cart', product_id=product._id) }}">
                        <div class="quantity-counter">
                            <label for="quantity_{{ product._id }}">Quantity:</label>
                            <input type="number" id="quantity_{{ product._id }}" name="quantity" value="1" min="1">
                        </div>
                        <button type="submit" class="filter-button active">Add to Cart</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
</body>
</html>