<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manufacturers</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='/css/shelf.css')}}">
</head>
<body>
    <header class="navbar">
        <h1 class="logo">Agri-In-Smart</h1>
        <a href="{{url_for('shop.view_cart')}}"class="basket-button">Cart</a>
    </header>

    <main>
        <section class="produce-header">
            <h2>Products <span class="fresh">FM</span> <span class="date"></span></h2>
            <div class="filters">
                <button class="filter-button active">Default</button>
                <button class="filter-button">A-Z</button>
                <button class="filter-button">List view</button>
            </div>
        </section>

        <section class="produce-list">
            {% for product in products %}
            <div class="produce-card">
                <img src="{{ url_for('shop.product_image', product_id=product._id) }}" alt="{{ product.name }}" width="100">
                <div class="card-info">
                    <h3>{{product.name}}</h3>
                    <p class="price">KES {{product.price}}<span></span></p>
                    <p class="location">{{product.description}}</p>
                    <button class="add-to-cart" data-product-id="{{product._id}}">Add to Cart</button>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
</body>
</html>