<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/for.css">
    <title>Reset Password</title>
</head>
<body class="body">
    <h2>Reset Password</h2>
    <form id="form" method="POST">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <button type="submit">Reset Password</button>
        <p id="password_match" style="color: red; display: none;">Passwords do not match.</p>
    </form>

    <script>
        document.getElementById('form').addEventListener('submit', function(event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
            const passwordMatch = document.getElementById('password_match');

            if (password !== confirmPassword) {
                event.preventDefault(); // Prevent form submission
                passwordMatch.style.display = 'block'; // Show error message
            } else {
                passwordMatch.style.display = 'none'; // Hide error message if matches
            }
        });
    </script>
</body>
</html>